<nav class="navbar navbar-expand-md navbar-light" ><!-- style="background-color: #e3f2fd;"-->
  <a routerLink="/" class="navbar-brand">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/login">Sign in</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/shopping-list">Wish List</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Offers</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li >
        <a class="nav-item nav-link cart-icon" routerLink="/cart">
            <img class='shopping-icon' src="assets/shopping-bag.svg">
            <span *ngIf="shoppingCartService.navbarCartCount > 0"
            class='item-count'>{{shoppingCartService.navbarCartCount}}</span>
        </a>
      </li>

       <!-- <li class="nav-item dropdown" *ngIf="isAuthenticated">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Your Orders</a>
            <a class="dropdown-item" href="#">Your profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>

      <!-- <li class="dropdown" *ngIf="isAuthenticated">
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Your Orders</a>
            <a class="dropdown-item" href="#">Your profile</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
