<nav class="navbar navbar-expand-md navbar-light" ><!-- style="background-color: #e3f2fd;"-->
  <a routerLink="/" class="navbar-brand">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/shopping-list">Wish List</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Offers</a>
      </li>
    </ul> -->
    
    <!-- <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated; else whenLoggedIn">
        <a class="nav-link" routerLink="/login">Sign in</a>
      </li>
    </ul> -->
    <div class="toolbar">
      <div class="inner">
        <div class="tools">
          <div class="account">
            <a 
              *ngIf="!isAuthenticated; else whenLoggedIn"               
              routerLink="/login">              
            </a>
            <ng-template #whenLoggedIn>
              <a routerLink="/orders"></a>
            </ng-template>
              
            <i class="icon-head" style="font-size: 1.2rem;"></i>
            <ul *ngIf="isAuthenticated" class="toolbar-dropdown">
              <li class="sub-menu-user">
                <div class="user-info">
                  <h6 class="user-name">{{ user.email }}
                    <span *ngIf="authService.userHasAdminRole()"> (Admin)</span>
                  </h6>
                </div>
              </li>
              <!-- <li>
                <a routerLink="/account/profile" href="">My Profile</a>
              </li> -->
              <li>
                <a routerLink="/shopping-list" href="">Wish List</a>
              </li>
              <li>
                <a routerLink="/orders" href="">Orders List</a>
              </li>
              <li class="sub-menu-separator"></li>
              <li>
                <a href="" (click)="onLogout($event)">
                  <i class="icon-unlock"></i>Logout</a>
              </li>
            </ul>
          </div>
          <!-- cart -->
          <div class="cart cart-bag">
            
              <a class="cart-icon" routerLink="/cart">
                  <img class='shopping-icon' src="assets/shopping-bag.svg">
                  <span *ngIf="totalQuantity > 0"
                  class='item-count'>{{ totalQuantity }}</span>
              </a>
            
          </div>
          <!-- cart end -->
        </div>
      </div>
    </div>
    
  </div>
</nav>
