<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <p>You have successfully updated your cart.</p>
    </div>
    <div class="modal-footer  justify-content-between">
      <button type="button" class="btn btn-outline-success" (click)="activeModal.close('Close click')" [routerLink]="['/cart']">
        Go To Cart
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="activeModal.close()" [routerLink]="['/products']">
        Continue Shopping
      </button>
    </div>
  </div>
</div>



