spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: <user>@gmail.com
    password: <pass>
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          starttls:
            enable: true

