<div class="product-detail">
  <div *ngIf="product" >
    <app-page-title title="{{ product.name }}" [children]="[{title: 'Products', link: '/products'}, {title: product.name}]"></app-page-title>
    <div class="container padding-bottom-3x mb-1">
      <div class="row">
        <!-- Poduct Gallery-->
        <div class="col-md-6">
          <div class="product-gallery">
            <span *ngIf="product.reduction" class="product-badge text-danger">{{product.reduction}}% Off</span>
            <div class="product-gallery-image">
              <img class="img-fluid" 
                src="{{ baseURL }}images/{{ product.imageUrl }}" 
                alt="{{product.name}}" >
            </div>
          </div>
        </div>
        <!-- Product Info-->
        <div class="col-md-6">                     
          <h2 class="padding-top-1x text-normal">{{ product.name }}</h2>          
          <div class="pt-1 mb-2">
            <span class="text-medium">SKU:</span> {{ product.sku }}
          </div>
          <span class="h2 d-block">
            <app-price [product]="product"></app-price>
          </span>
          <p>{{ product.description }}</p>
          <div class="pt-1 mb-2">
            <div class="row card-text">   
              <span class="card-text" style="margin-right: 10px;">Quantity: </span>           
              <input [(ngModel)]=quantity
                type="number"
                name="quantity"
                required
                min="1"
                class="form-control col-sm-2"
              >
            </div>
          </div>
          <p class="card-text"><strong>Subtotal: </strong>
            <label id="subtotal"> {{quantity * product?.price | currency}}</label>
          </p>
          <div class="sp-buttons mt-2 mb-2">
            <a class="btn btn-outline-secondary" routerLink="/products">
              <i class="icon-arrow-left"></i>&nbsp;Go Back</a>
            <button class="btn btn-primary" (click)="onAddToShoppingCart()">
              <i class="icon-bag"></i> Add to Cart
            </button>
            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist" (click)="onAddToShoppingList()">
                <i class="icon-heart"></i>
            </button>
            <a placement="top" mdbTooltip="Add to Wishlist" container="body" (click)="onAddToShoppingList()">
                <i class="fa fa-heart fa-2x"></i>
            </a>    
            <a *ngIf="authService.isAdmin()"
              mat-flat-button color="success"
              [routerLink]="['/product-edit', product.id]">Edit
            </a>
          </div>
        </div>
        <!-- End Product Info-->
      </div>        
    </div>
    <!-- comments-->   
    
  </div>
</div>

