/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
.container-fluid {
  height: 650px;
}

.myGridList {
  height: 100%;
  position: relative;
}

.myGridList {
  background: #fff;
  height: 100%;
}

.mat-card-title {
  font-size: 18px;
  margin-bottom: 5px;
  color: #4a4a4a;
  font-family: 'Open Sans Condensed';
}

mat-card img{
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
   width: 70%; /*Here you can use wherever you want to specify the width and also the height of the <img> */
  height: 70%;
  max-width: fit-content;
  justify-content: space-between;
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  /* background-size: cover; */
}

  .product-card {
  max-width: 100%;
  min-width: 350px
}



/* mat-grid-tile {
  background: #fff;
  color: rgba(0,0,0,.87);
  justify-content: space-between;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


