<app-page-title title="Shopping List" [children]="[{title: 'Shopping List'}]"></app-page-title>
<div class="container  padding-bottom-3x mb-1">
<h3 align="center" class="display-4 mb-5">{{title}}</h3>
<div *ngIf="shoppingList?.products?.length > 0; else empty" class="row card-deck text-center">
  <div *ngFor="let product of shoppingList.products" class="col-lg-4 ">
    <div class="card mb-4"  >
      <img height="50%" class="card-img-top" src="{{ baseURL }}images/{{ product.imageUrl }}" alt="{{product.name}}">
      <div class="card-body">
        <h4 class="card-title ">{{product.name}}</h4>
        <div class="text-left">
          <p class="card-test"><strong>Description: </strong>{{product.description}}</p>
          <p class="card-text"><strong>Price: </strong>{{product.price | currency}}</p>
        </div>
        <br>
        <div class="button-row">
          <button
            type="submit"
            class="btn btn-outline-primary btn-sm" 
            (click)="addToCart(product)"
            >Add to Cart
          </button>
          <button
              class="btn btn-outline-secondary btn-sm" 
              type="button"
              (click)="removeFromList(product)"
              >Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #empty>
  <h4 class="text-muted text-center">You do not have any items in your shopping list</h4>
</ng-template>
<div [hidden]="shoppingList">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
</div>
